
@{
    ViewBag.Title = "Danh sách khóa học của TEDU";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<article id="post-206" class="post-206 page type-page status-publish hentry instock">
  <header class="entry-header">
    <h1 class="entry-title"><span>Shop</span></h1>
  </header><!-- .entry-header -->

  <div class="shop-banner"><img src="http://placehold.it/872x247" alt="Shop Page"></div>
  <p class="woocommerce-result-count">Showing all 9 results</p>

  <form class="woocommerce-ordering" method="get">
    <select name="orderby" class="orderby">
      <option value="menu_order" selected="selected">Default sorting</option>
      <option value="popularity">Sort by popularity</option>
      <option value="rating">Sort by average rating</option>
      <option value="date">Sort by newness</option>
      <option value="price">Sort by price: low to high</option>
      <option value="price-desc">Sort by price: high to low</option>
    </select>
  </form>

  <ul class="products">
    <li class="post-525 product type-product status-publish has-post-thumbnail hentry first instock">
      <a href="">
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <div class="product-rate">
          <div class="ratings">
            <input class="star" type="radio" name="home-top-rating-1" value="1" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-1" value="2" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-1" value="3" disabled="disabled" checked="checked" />
            <input class="star" type="radio" name="home-top-rating-1" value="4" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-1" value="5" disabled="disabled" />
          </div>
        </div>
        <span class="price"><span class="amount">£55</span></span>
      </a>
      <a href="" rel="nofollow" data-product_id="525" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-528 product type-product status-publish has-post-thumbnail hentry sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><del><span class="amount">£89</span></del> <ins><span class="amount">£85</span></ins></span>

      </a>
      <a href="" rel="nofollow" data-product_id="528" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-531 product type-product status-publish has-post-thumbnail hentry last sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="from">From: </span><span class="amount">£95</span></span>

      </a>
      <a href="" rel="nofollow" data-product_id="531" data-product_sku="" class=" button product_type_variable">Select options</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-525 product type-product status-publish has-post-thumbnail hentry first instock">
      <a href="">
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="amount">£55</span></span>
      </a>
      <a href="" rel="nofollow" data-product_id="525" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-528 product type-product status-publish has-post-thumbnail hentry sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><del><span class="amount">£89</span></del> <ins><span class="amount">£85</span></ins></span>

      </a>
      <a href="" rel="nofollow" data-product_id="528" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-531 product type-product status-publish has-post-thumbnail hentry last sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="from">From: </span><span class="amount">£95</span></span>

      </a>
      <a href="" rel="nofollow" data-product_id="531" data-product_sku="" class=" button product_type_variable">Select options</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-525 product type-product status-publish has-post-thumbnail hentry first instock">
      <a href="">
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="amount">£55</span></span>
      </a>
      <a href="" rel="nofollow" data-product_id="525" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-528 product type-product status-publish has-post-thumbnail hentry sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><del><span class="amount">£89</span></del> <ins><span class="amount">£85</span></ins></span>

      </a>
      <a href="" rel="nofollow" data-product_id="528" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-531 product type-product status-publish has-post-thumbnail hentry last sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="from">From: </span><span class="amount">£95</span></span>

      </a>
      <a href="" rel="nofollow" data-product_id="531" data-product_sku="" class=" button product_type_variable">Select options</a>
      <a class="detil" href="">Show details</a>
    </li>
    <li class="post-525 product type-product status-publish has-post-thumbnail hentry first instock">
      <a href="">
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <div class="product-rate">
          <div class="ratings">
            <input class="star" type="radio" name="home-top-rating-2" value="1" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-2" value="2" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-2" value="3" disabled="disabled" checked="checked" />
            <input class="star" type="radio" name="home-top-rating-2" value="4" disabled="disabled" />
            <input class="star" type="radio" name="home-top-rating-2" value="5" disabled="disabled" />
          </div>
        </div>
        <span class="price"><span class="amount">£55</span></span>
      </a>
      <a href="" rel="nofollow" data-product_id="525" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-528 product type-product status-publish has-post-thumbnail hentry sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><del><span class="amount">£89</span></del> <ins><span class="amount">£85</span></ins></span>

      </a>
      <a href="" rel="nofollow" data-product_id="528" data-product_sku="" class="add_to_cart_button button product_type_simple">Add to cart</a>
      <a class="detil" href="">Show details</a>
    </li>

    <li class="post-531 product type-product status-publish has-post-thumbnail hentry last sale featured instock">
      <a href="">
        <span class="onsale">Sale!</span>
        <img width="270" height="395" src="http://placehold.it/270x359" class="attachment-shop_catalog wp-post-image" alt="shop-girl1">
        <h3>Aenean rhoncus nisi sit amet</h3>
        <span class="price"><span class="from">From: </span><span class="amount">£95</span></span>

      </a>
      <a href="" rel="nofollow" data-product_id="531" data-product_sku="" class=" button product_type_variable">Select options</a>
      <a class="detil" href="">Show details</a>
    </li>


  </ul>
</article>
