<section class="content-header">
  <h1>
    Cập nhật khóa học
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a ui-sref="courses">Danh sách khóa học</a></li>
    <li class="active"><a href="#">Cập nhật</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{course.Name}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" role="form" novalidate name="updateCourseForm" ng-submit="updateCourse()">
          <div class="box-body">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error':updateCourseForm.name.$invalid && !updateCourseForm.name.$pristine}">
                <label class="col-sm-2 control-label">Tiêu đề</label>
                <div class="col-sm-10">
                  <input type="text" ng-change="CreateAlias()" name="name" class="form-control" validate-on="blur"
                         required reqired-message="Tên danh mục bắt buộc." ng-model="course.Name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Alias</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="course.Alias">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Mô tả</label>
                <div class="col-sm-10">
                  <textarea class="form-control" ng-model="course.Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Hình ảnh</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="course.Image" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error':updateCourseForm.categoryId.$invalid && !updateCourseForm.categoryId.$pristine}">
                <label class="col-sm-2 control-label">Danh mục</label>
                <div class="col-sm-10">
                  <select type="text" required class="form-control" name="categoryId" ng-model="course.CategoryId" ng-options="option.ID as option.Name for option in categories">
                    <option value="">-- Chọn danh mục --</option>
                  </select>

                  <input type="hidden" name="CategoryID" ng-model="course.CategoryID" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Nội dung</label>
                <div class="col-sm-10">
                  <textarea ng-model="course.Content" ckeditor="editorOptions"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="course.Status" ng-checked="course.Status='Publish'"> Kích hoạt
                    </label>
                    <label>
                      <input type="checkbox" ng-model="course.HotFlag" ng-checked="course.HotFlag"> Tin hot
                    </label>
                    <label>
                      <input type="checkbox" ng-model="course.SlideFlag" ng-checked="course.SlideFlag"> Slide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <a ui-sref="posts" class="btn btn-default">Hủy bỏ</a>
                  <input type="submit" class="btn btn-primary" ng-disabled="updateCourseForm.$invalid" value="Lưu lại" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">Thời gian (phút)</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" ng-model="course.Duration" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Giá</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" ng-model="course.Price" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Giá khuyến mãi</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" ng-model="course.PromotionPrice" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Level</label>
                <div class="col-sm-10">
                  <select type="text" required class="form-control" name="level"
                          ng-model="course.Level" ng-options="option.ID as option.Name for option in levels"></select>
                  <input type="hidden" name="level" ng-model="course.Level" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Thứ tự</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" ng-model="course.DisplayOrder" value="0" />
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error':updateCourseForm.TrainerId.$invalid && !updateCourseForm.TrainerId.$pristine}">
                <label class="col-sm-2 control-label">Giảng viên</label>
                <div class="col-sm-10">
                  <select type="text" required class="form-control" name="TrainerId" ng-model="course.TrainerId" ng-options="option.ID as option.Name for option in trainers">
                    <option value="">-- Chọn giảng viên --</option>
                  </select>

                  <input type="hidden" name="TrainerId" ng-model="course.TrainerId" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Meta keyword</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="course.MetaKeyword">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Meta description</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" ng-model="course.MetaDescription"></textarea>
                </div>
              </div>
            </div>
          </div><!-- /.box-body -->
        </form>
      </div><!-- /.box -->
    </div>

  </div>
</section>