<section class="content-header">
  <h1>
    Thêm mới
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a ui-sref="pages">Danh sách trang</a></li>
    <li class="active"><a href="#">Thêm mới</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{page.Name}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" role="form" novalidate name="addPageForm"  ng-submit="AddPage()">
          <div class="box-body">
            <div class="col-md-8">
              <div class="form-group" ng-class="{'has-error':addPageForm.name.$invalid && !addPageForm.name.$pristine}">
                <label class="col-sm-2 control-label">Tiêu đề</label>
                <div class="col-sm-10">
                  <input type="text" ng-change="CreateAlias()" name="name" class="form-control" validate-on="blur"
                         required reqired-message="Tên danh mục bắt buộc." ng-model="page.Name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Alias</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="page.Alias">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Nội dung</label>
                <div class="col-sm-10">
                  <textarea ng-model="page.Content" ckeditor="editorOptions"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Meta keyword</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="page.MetaKeyword">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Meta description</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" ng-model="page.MetaDescription"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="page.Status" ng-checked="page.Status"> Kích hoạt
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <a ui-sref="pages" class="btn btn-default">Hủy bỏ</a>
                  <input type="submit" class="btn btn-primary" ng-disabled="addPageForm.$invalid" value="Lưu lại" />
                </div>
              </div>
            </div>
          </div><!-- /.box-body -->
        </form>
      </div><!-- /.box -->
    </div>
  </div>
</section>