<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SystemTitle" value="TEDU - Technology Education"/>
  <add key="SystemKeyword" value="đào tạo lập trình"/>
  <add key="SystemDescription" value="Trang chủ của TEDU"/>
  <add key="pageDisplay" value="20"/>
  <add key="FBAppID" value="500141453482575"/>
  <add key="FBAppSecret" value="0f00d528183076ce33cb4576d6f4cbd9"/>
</appSettings>