<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SystemTitle" value="TEDU - Kênh đào tạo trực tuyến, học lập trình miễn phí cho tất cả mọi người."/>
  <add key="SystemKeyword" value="đào tạo lập trình, học lập trình miễn phí, học lập trình asp.net mvc, học để làm dự án thực tế"/>
  <add key="SystemDescription" value="TEDU là trang web chính thức của kênh đào tạo TEDU trên Youtube. Cung cấp cho mọi người các kiến thức và kỹ năng làm việc thực tế bổ ích."/>
  <add key="pageDisplay" value="20"/>
  <add key="FBAppID" value="500141453482575"/>
  <add key="FBAppSecret" value="0f00d528183076ce33cb4576d6f4cbd9"/>
  <add key="EnabledBundles" value="false"/>
</appSettings>