<connectionStrings>
  <add name="TEDUConnectionDbDev" 
       providerName="System.Data.SqlClient" 
       connectionString="Data Source=.;Initial Catalog=TEDU;Integrated Security=False;User Id=sa;Password=121189;MultipleActiveResultSets=True" />
  <add name="TEDUConnectionDbPro"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=tedu.com.vn;Initial Catalog=teducomv_db;Integrated Security=False;User Id=teducomv_sa;Password=x2Uz1$z4;MultipleActiveResultSets=True" />
</connectionStrings>