<!DOCTYPE html>

<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) | !(IE 9)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
  <title>TEDU</title>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/Content/client/images/favicon.png" title="Favicon" />
  <meta name="viewport" content="width=device-width" />

  <link rel='stylesheet' id='magz-style-css' href='/Content/client/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='swipemenu-css' href='/Content/client/css/swipemenu.css' type='text/css' media='all' />
  <link rel='stylesheet' id='flexslider-css' href='/Content/client/css/flexslider.css' type='text/css' media='all' />
  <link rel='stylesheet' id='bootstrap-css' href='/Content/client/css/bootstrap.css' type='text/css' media='all' />
  <link rel='stylesheet' id='bootstrap-responsive-css' href='/Content/client/css/bootstrap-responsive.css' type='text/css' media='all' />
  <link rel='stylesheet' id='simplyscroll-css' href='/Content/client/css/jquery.simplyscroll.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jPages-css' href='/Content/client/css/jPages.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rating-css' href='/Content/client/css/jquery.rating.css' type='text/css' media='all' />
  <link rel='stylesheet' id='ie-styles-css' href='/Content/client/css/ie.css' type='text/css' media='all' />
  <link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto' type='text/css' media='all' />

  <script type='text/javascript' src="/Content/client/js/jquery-1.10.2.min.js"></script>
  <script type='text/javascript' src='/Content/client/js/html5.js'></script>
  <script type='text/javascript' src='/Content/client/js/bootstrap.min.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.flexslider.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.flexslider.init.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.bxslider.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.bxslider.init.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.rating.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.idTabs.min.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.simplyscroll.js'></script>
  <script type='text/javascript' src='/Content/client/js/fluidvids.min.js'></script>
  <script type='text/javascript' src='/Content/client/js/jPages.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.sidr.min.js'></script>
  <script type='text/javascript' src='/Content/client/js/jquery.touchSwipe.min.js'></script>
  <script type='text/javascript' src='/Content/client/js/custom.js'></script>
  <!-- END -->
</head>
<body>
  <div id="page">
    <header id="header" class="container">
      <div id="mast-head">
        <div id="logo">
          <a href="/" title="Magazine" rel="home">
            <img src="/Content/client/images/logo.png" alt="Magazine" />
          </a>
        </div>
      </div>
      @{Html.RenderAction("MainMenu", "Home");}

    </header><!-- #masthead -->

    @{Html.RenderAction("BreakingNews", "Home");}

    <div id="intr" class="container">
      <div class="row-fluid">
        <div class="brnews span9">
          <h3>Breaking News</h3>
          <ul id="scroller">
            <li><p><a href="#" title="Permalink to Lectus non rutrum pulvinar urna leo dignissim lorem" rel="bookmark"><span class="title">Lectus non rutrum pu...</span> Nam nibh arcu, tristique eget pretium sed, porta i...</a></p></li>
            <li><p><a href="#" title="Permalink to Suspen disse auctor dapibus neque pulvinar urna leo" rel="bookmark"><span class="title">Suspen disse auctor ...</span> Fusce aliquet non ipsum vitae scelerisque. Nullam ...</a></p></li>
            <li><p><a href="#" title="Permalink to Porta lorem ipsum dolor sit amet, consectetur adipiscing risus" rel="bookmark"><span class="title">Porta lorem ipsum do...</span> Lorem ipsum dolor sit amet, consectetur adipiscing...</a></p></li>
          </ul>
        </div>

        <div class="search span3">
          <div class="offset1">
            <form method="get" id="searchform" action="#">
              <p>
                <input type="text" value="Search here..." onfocus="if ( this.value == 'Search here...' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Search here...'; }" name="s" id="s" />
                <input type="submit" id="searchsubmit" value="Search" />
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="container">

      <div id="main" class="row-fluid">
        <div id="main-left" class="span8">

          @RenderBody()

        </div><!-- #main-left -->

        <div id="sidebar" class="span4">
          @{Html.RenderAction("NewsTab", "Home");}


          <div class="widget widget_latestpost">
            <h3 class="title"><span>Recent Posts</span></h3>
            <div class="latest-posts widget">
              <div class="latest-post clearfix">
                <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
                <h4><a href="#" rel="bookmark" title="Lectus non rutrum pulvinar urna leo dignissim lorem">Lectus non rutrum pulvinar urna leo</a></h4>
                <div class="post-time">August 12, 2013</div>
                <div class="ratings" style="float: none">
                  <input class="star" type="radio" name="recent-post-1" value="1" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-1" value="2" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-1" value="3" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-1" value="4" disabled="disabled" checked="checked" />
                  <input class="star" type="radio" name="recent-post-1" value="5" disabled="disabled" />
                </div>
              </div>

              <div class="latest-post clearfix">
                <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
                <h4><a href="#" rel="bookmark" title="Suspen disse auctor dapibus neque pulvinar urna leo">Suspen disse auctor dapibus neque</a></h4>
                <div class="post-time">August 11, 2013</div>
                <div class="ratings" style="float: none">
                  <input class="star" type="radio" name="recent-post-2" value="1" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-2" value="2" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-2" value="3" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-2" value="4" disabled="disabled" checked="checked" />
                  <input class="star" type="radio" name="recent-post-2" value="5" disabled="disabled" />
                </div>
              </div>

              <div class="latest-post clearfix">
                <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
                <h4><a href="#" rel="bookmark" title="Porta lorem ipsum dolor sit amet, consectetur adipiscing risus">Porta lorem ipsum dolor sit amet</a></h4>
                <div class="post-time">August 2, 2013</div>
                <div class="ratings" style="float: none">
                  <input class="star" type="radio" name="recent-post-3" value="1" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-3" value="2" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-3" value="3" disabled="disabled" />
                  <input class="star" type="radio" name="recent-post-3" value="4" disabled="disabled" checked="checked" />
                  <input class="star" type="radio" name="recent-post-3" value="5" disabled="disabled" />
                </div>
              </div>

            </div>
          </div>

          <div class="widget widget_latestpost">
            <h3 class="title"><span>Technology News</span></h3>
            <div class="latest-posts">
              <article class="post">
                <a class="image_thumb_zoom" href="#" title="Permalink to Porta lorem ipsum dolor sit amet, consectetur adipiscing risus" rel="bookmark">
                  <img width="371" height="177" src="http://placehold.it/371x177" alt="" />
                </a>
                <h4 class="post-title">
                  <a href="#" title="Permalink to Porta lorem ipsum dolor sit amet, consectetur adipiscing risus" rel="bookmark">Porta lorem ipsum dolor sit amet, c...</a>
                  <span class="date">August 2, 2013</span>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat id augue non dapibus. Morbi ut ipsum cond...</p>
              </article>

              <article class="post">
                <div class="entry clearfix">
                  <a href="#" title="Permalink to Donec consectetuer ligula vulputate sem tristique cursus" rel="bookmark">
                    <img width="225" height="136" src="http://placehold.it/225x136" class="thumb" alt="" />
                    <h4 class="post-title">Donec consectetuer ligula vulputate...</h4>
                  </a>
                  <p>Nam nibh arcu, tristique eget pretium se...</p>
                  <div class="meta">
                    <span class="date">July 11, 2013</span>
                  </div>
                </div>
              </article>

              <article class="post">
                <div class="entry clearfix">
                  <a href="#" title="Permalink to Quisque sodales viverra ornare vitae libero ac risus" rel="bookmark">
                    <img width="225" height="136" src="http://placehold.it/225x136" class="thumb" alt="" />
                    <h4 class="post-title">Quisque sodales viverra ornare vita...</h4>
                  </a>
                  <p>Quisque sodales viverra ornare. Aenean p...</p>
                  <div class="meta">
                    <span class="date">July 2, 2013</span>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <div class="video-box widget row-fluid">
            <h3 class="title"><span style="background-color: #;color: #;">Videos Gallery</span></h3>
            <iframe width="369" height="188" src="http://www.youtube.com/embed/pkRB5xC1Cw8" frameborder="0" allowfullscreen></iframe>
            <ul>
              <li>
                <a href="#" title="Permalink to Lectus non rutrum pulvinar urna leo dignissim lorem" rel="bookmark">
                  <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
                </a>
              </li>

              <li>
                <a href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
                  <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
                </a>
              </li>

              <li>
                <a href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
                  <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
                </a>
              </li>

              <li>
                <a href="#" title="Permalink to Phasellus scelerisque massa molestie iaculis lectus pulvinar" rel="bookmark">
                  <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
                </a>
              </li>
            </ul>
          </div>

        </div><!-- sidebar -->

        <div class="clearfix"></div>

        <div id="gallery">
          <h3 class="title"><span>All News Gallery</span></h3>
          <ul class="gallery">
            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Fusce pellentesque suscipit nibh massa porta molestie iaculis" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Fusce pellentesque suscipit nibh massa porta molestie iaculis" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Text post" src="/Content/client/images/text.png"> Fusce pellentesque suscipit nibh ma...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Praesent placerat risus quis pellentesque suscipit nibh ultricies nulla" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Praesent placerat risus quis pellentesque suscipit nibh ultricies nulla" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Gallery post" src="/Content/client/images/image.png"> Praesent placerat risus quis pellen...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Integer malesuada commodo nulla ligula vulputate sem tristique" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Integer malesuada commodo nulla ligula vulputate sem tristique" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Photo" src="/Content/client/images/photo.png"> Integer malesuada commodo nulla lig...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Video post" src="/Content/client/images/vid.png"> Vestibulum volutpat tortor libero s...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Fusce accumsan mollis eros amet interdum consectetuer" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Fusce accumsan mollis eros amet interdum consectetuer" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Text post" src="/Content/client/images/text.png"> Fusce accumsan mollis eros amet int...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Quisque fermentum penatibus et magnis dis parturient montes" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Quisque fermentum penatibus et magnis dis parturient montes" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Gallery post" src="/Content/client/images/image.png"> Quisque fermentum penatibus et magn...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Proin malesuada adipiscing lacus imperdiet nibh feugiat" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Proin malesuada adipiscing lacus imperdiet nibh feugiat" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Photo" src="/Content/client/images/photo.png"> Proin malesuada adipiscing lacus im...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 30, 2013</span>
              </div>
            </li>

            <li>
              <a class="image_thumb_zoom" href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
                <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
              </a>
              <a href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
                <h4 class="post-title clearfix"><img class="post-icon" alt="Video post" src="/Content/client/images/vid.png"> Vivamus ultrices luctus nunc sem si...</h4>
              </a>
              <div class="meta clearfix">
                <span class="date">July 18, 2013</span>
              </div>
            </li>
          </ul>
        </div>

      </div><!-- #main -->

    </div><!-- #content -->

    <footer id="footer" class="row-fluid">
      @{Html.RenderAction("Footer", "Home");}
    </footer>

  </div><!-- #wrapper -->

</body>
</html>
