@model IEnumerable<TEDU.Web.ViewModels.PostViewModel>
<div id="intr" class="container">
  <div class="row-fluid">
    <div class="brnews span9">
      <h3>Tiêu điểm</h3>
      <ul id="scroller">
        @foreach (var item in Model)
        {
          var url = item.Category.Alias +  "/" + item.Alias + "-" + item.ID + ".html";
            <li><p><a href="@url" title="@item.Name" rel="bookmark"><span class="title">@item.Name</span></a></p></li>
        }
      </ul>
    </div>

    <div class="search span3">
      <div class="offset1">
        <form method="get" id="searchform" action="/tim-kiem.html">
          <p>
            <input type="text" name="s" placeholder="Từ khóa" />
            <input type="submit" id="searchsubmit" value="Tìm" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>