<div id="gallery">
  <h3 class="title"><span>All News Gallery</span></h3>
  <ul class="gallery">
    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Fusce pellentesque suscipit nibh massa porta molestie iaculis" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Fusce pellentesque suscipit nibh massa porta molestie iaculis" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Text post" src="/Content/client/images/text.png"> Fusce pellentesque suscipit nibh ma...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Praesent placerat risus quis pellentesque suscipit nibh ultricies nulla" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Praesent placerat risus quis pellentesque suscipit nibh ultricies nulla" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Gallery post" src="/Content/client/images/image.png"> Praesent placerat risus quis pellen...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Integer malesuada commodo nulla ligula vulputate sem tristique" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Integer malesuada commodo nulla ligula vulputate sem tristique" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Photo" src="/Content/client/images/photo.png"> Integer malesuada commodo nulla lig...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Video post" src="/Content/client/images/vid.png"> Vestibulum volutpat tortor libero s...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Fusce accumsan mollis eros amet interdum consectetuer" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Fusce accumsan mollis eros amet interdum consectetuer" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Text post" src="/Content/client/images/text.png"> Fusce accumsan mollis eros amet int...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Quisque fermentum penatibus et magnis dis parturient montes" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Quisque fermentum penatibus et magnis dis parturient montes" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Gallery post" src="/Content/client/images/image.png"> Quisque fermentum penatibus et magn...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Proin malesuada adipiscing lacus imperdiet nibh feugiat" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Proin malesuada adipiscing lacus imperdiet nibh feugiat" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Photo" src="/Content/client/images/photo.png"> Proin malesuada adipiscing lacus im...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 30, 2013</span>
      </div>
    </li>

    <li>
      <a class="image_thumb_zoom" href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
      <a href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
        <h4 class="post-title clearfix"><img class="post-icon" alt="Video post" src="/Content/client/images/vid.png"> Vivamus ultrices luctus nunc sem si...</h4>
      </a>
      <div class="meta clearfix">
        <span class="date">July 18, 2013</span>
      </div>
    </li>
  </ul>
</div>
