@model IEnumerable<TEDU.Web.ViewModels.CategoryViewModel>
<nav class="navbar navbar-inverse clearfix nobot">
  <a id="responsive-menu-button" href="#swipe-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
  <div class="nav-collapse" id="swipe-menu-responsive">

    <ul class="nav">
      <li>
        <span id="close-menu">
          <a href="#" class="close-this-menu">Close</a>
          <script type="text/javascript">
            jQuery('a.sidr-class-close-this-menu').click(function () {
              jQuery('div.sidr').css({
                'right': '-476px'
              });
              jQuery('body').css({
                'right': '0'
              });
            });
          </script>

        </span>
      </li>
      <li><a href="/"><img src="/Content/client/images/home.png" alt="TEDU"></a></li>
      <li><a href="/gioi-thieu.html">Giới thiệu</a></li>
      @foreach (var item in Model.Where(x => x.ParentID.HasValue == false))
      {
        var childItem = Model.Where(x => x.ParentID == item.ID);
          <li>
            <a href="/@(item.Alias).html">@item.Name</a>
            @if (childItem.Count() > 0)
            {

                <ul class="sub-menu dropdown-menu">
                  @foreach (var child in childItem)
                  {
                      <li><a href="@(child.Alias).html">@child.Name</a></li>
                  }
                </ul>
            }
          </li>
      }
      <li><a href="/it-ebooks.html">IT Ebooks</a></li>
      <li><a href="https://www.youtube.com/user/myskillscenter" target="_blank"><i class="fa fa-youtube"></i>Youtube Channel</a></li>
    </ul>

  </div><!--/.nav-collapse -->
</nav><!-- /.navbar -->
