<div class="widget widget_latestpost">
  <h3 class="title"><span>Recent Posts</span></h3>
  <div class="latest-posts widget">
    <div class="latest-post clearfix">
      <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
      <h4><a href="#" rel="bookmark" title="Lectus non rutrum pulvinar urna leo dignissim lorem">Lectus non rutrum pulvinar urna leo</a></h4>
      <div class="post-time">August 12, 2013</div>
      <div class="ratings" style="float: none">
        <input class="star" type="radio" name="recent-post-1" value="1" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-1" value="2" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-1" value="3" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-1" value="4" disabled="disabled" checked="checked" />
        <input class="star" type="radio" name="recent-post-1" value="5" disabled="disabled" />
      </div>
    </div>

    <div class="latest-post clearfix">
      <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
      <h4><a href="#" rel="bookmark" title="Suspen disse auctor dapibus neque pulvinar urna leo">Suspen disse auctor dapibus neque</a></h4>
      <div class="post-time">August 11, 2013</div>
      <div class="ratings" style="float: none">
        <input class="star" type="radio" name="recent-post-2" value="1" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-2" value="2" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-2" value="3" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-2" value="4" disabled="disabled" checked="checked" />
        <input class="star" type="radio" name="recent-post-2" value="5" disabled="disabled" />
      </div>
    </div>

    <div class="latest-post clearfix">
      <a href="#"><img width="225" height="136" src="http://placehold.it/225x136" class="thumb fl" alt="" title="" /></a>
      <h4><a href="#" rel="bookmark" title="Porta lorem ipsum dolor sit amet, consectetur adipiscing risus">Porta lorem ipsum dolor sit amet</a></h4>
      <div class="post-time">August 2, 2013</div>
      <div class="ratings" style="float: none">
        <input class="star" type="radio" name="recent-post-3" value="1" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-3" value="2" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-3" value="3" disabled="disabled" />
        <input class="star" type="radio" name="recent-post-3" value="4" disabled="disabled" checked="checked" />
        <input class="star" type="radio" name="recent-post-3" value="5" disabled="disabled" />
      </div>
    </div>

  </div>
</div>
