<div class="widget widget_latestpost">
  <h3 class="title"><span>Technology News</span></h3>
  <div class="latest-posts">
    <article class="post">
      <a class="image_thumb_zoom" href="#" title="Permalink to Porta lorem ipsum dolor sit amet, consectetur adipiscing risus" rel="bookmark">
        <img width="371" height="177" src="http://placehold.it/371x177" alt="" />
      </a>
      <h4 class="post-title">
        <a href="#" title="Permalink to Porta lorem ipsum dolor sit amet, consectetur adipiscing risus" rel="bookmark">Porta lorem ipsum dolor sit amet, c...</a>
        <span class="date">August 2, 2013</span>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat id augue non dapibus. Morbi ut ipsum cond...</p>
    </article>

    <article class="post">
      <div class="entry clearfix">
        <a href="#" title="Permalink to Donec consectetuer ligula vulputate sem tristique cursus" rel="bookmark">
          <img width="225" height="136" src="http://placehold.it/225x136" class="thumb" alt="" />
          <h4 class="post-title">Donec consectetuer ligula vulputate...</h4>
        </a>
        <p>Nam nibh arcu, tristique eget pretium se...</p>
        <div class="meta">
          <span class="date">July 11, 2013</span>
        </div>
      </div>
    </article>

    <article class="post">
      <div class="entry clearfix">
        <a href="#" title="Permalink to Quisque sodales viverra ornare vitae libero ac risus" rel="bookmark">
          <img width="225" height="136" src="http://placehold.it/225x136" class="thumb" alt="" />
          <h4 class="post-title">Quisque sodales viverra ornare vita...</h4>
        </a>
        <p>Quisque sodales viverra ornare. Aenean p...</p>
        <div class="meta">
          <span class="date">July 2, 2013</span>
        </div>
      </div>
    </article>
  </div>
</div>
