<div class="video-box widget row-fluid">
  <h3 class="title"><span style="background-color: #;color: #;">Videos Gallery</span></h3>
  <iframe width="369" height="188" src="http://www.youtube.com/embed/pkRB5xC1Cw8" frameborder="0" allowfullscreen></iframe>
  <ul>
    <li>
      <a href="#" title="Permalink to Lectus non rutrum pulvinar urna leo dignissim lorem" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
    </li>

    <li>
      <a href="#" title="Permalink to Vestibulum volutpat tortor libero sodales leo mauris ut lectus" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
    </li>

    <li>
      <a href="#" title="Permalink to Vivamus ultrices luctus nunc sem sit amet interdum consectetuer" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
    </li>

    <li>
      <a href="#" title="Permalink to Phasellus scelerisque massa molestie iaculis lectus pulvinar" rel="bookmark">
        <img width="225" height="136" src="http://placehold.it/225x136" alt="" />
      </a>
    </li>
  </ul>
</div>
