.topbar {
    position: absolute;
    top: 0;
    right: 17%;
}
.topbar ul {
    list-style: none;
}
.topbar ul li {
    display: inline;
    margin-right: 10px;
    margin-top: 5px;
}
.login-form {
    width: 60%;
}